body {
    font-family: Arial, sans-serif;
    background-color: #f2f7f8;
    margin: 0;
    padding: 30px;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    color: #176b87;
}

button {
    background-color: #176b87;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0e4f64;
}

input,
select {
    padding: 10px;
    margin: 5px;
}

a {
    text-decoration: none;
}