<!DOCTYPE html>
<html>

<head>
    <title>Find Doctor</title>
</head>

<body>

<h1>Find Doctor</h1>

<form method="POST">

    <label>Specialization:</label>

    <select name="specialization">

        <option>General Physician</option>

        <option>Dermatologist</option>

        <option>Cardiologist</option>

        <option>Dentist</option>

        <option>Gastroenterologist</option>

    </select>

    <button type="submit">
        Search
    </button>

</form>

<hr>

<h2>Available Doctors</h2>

{% for doctor in doctors %}

<div>

    <h3>{{ doctor["name"] }}</h3>

    <p>
        Specialization:
        {{ doctor["specialization"] }}
    </p>

    <p>
        Phone:
        {{ doctor["phone"] }}
    </p>

    <p>
        Available:
        {{ doctor["available_time"] }}
    </p>

    <a href="/book/{{ doctor['doctor_id'] }}">
        <button>Book Appointment</button>
    </a>

</div>

<hr>

{% endfor %}

<a href="/dashboard">
    Back to Dashboard
</a>

</body>

</html>