<!DOCTYPE html>
<html>

<head>
    <title>Appointment History</title>
</head>

<body>

<h1>Appointment History</h1>

<table border="1" cellpadding="10">

<tr>
    <th>Appointment ID</th>
    <th>Doctor</th>
    <th>Specialization</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
</tr>

{% for appointment in appointments %}

<tr>

    <td>
        {{ appointment["appointment_id"] }}
    </td>

    <td>
        {{ appointment["name"] }}
    </td>

    <td>
        {{ appointment["specialization"] }}
    </td>

    <td>
        {{ appointment["date"] }}
    </td>

    <td>
        {{ appointment["time"] }}
    </td>

    <td>
        {{ appointment["status"] }}
    </td>

</tr>

{% endfor %}

</table>

<br>

<a href="/dashboard">
    Back to Dashboard
</a>

</body>

</html>